{
  "extends": [
    "next",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "@next/next/no-img-element": "off",
    "import/order": [
      1,
      {
        "groups": [
          "external",
          "builtin",
          "internal",
          "sibling",
          "parent",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "components",
            "group": "internal"
          },
          {
            "pattern": "core",
            "group": "internal"
          },
          {
            "pattern": "pages/ **",
            "group": "internal"
          },
          {
            "pattern": "public/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "internal"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
      }
    ]
  }
}
