#storybook-root {
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: fixed;
}

.dark #storybook-docs,
.dark .sbdocs-wrapper {
  background: black !important;
}

html {
  background: black !important;
}

html body.light {
  background: white !important;
}

.sb-show-main.dark {
  background: black !important;
}

body {
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-cyber-800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-cyber-700;
}
