@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html.light {
  color-scheme: light;
  @apply bg-neutral-50;
}

html.dark {
  color-scheme: dark;
  @apply bg-normal-900;
}

code {
  border-radius: 10px;
}
