@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';
@import './components/base.css';
@import './components/button.css';
@import './components/select.css';
@import './components/animation.css';
@import './components/input.css';
@import './components/link.css';
@import './components/select.css';
@import './components/heading.css';
@import './components/accordion.css';
@import './components/alertDialog.css';
@import './components/dropdown.css';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.light,
body.light {
  color-scheme: light;
  @apply bg-neutral-50;
  @apply text-normal-800 font-light;
}

html.dark,
body.dark {
  color-scheme: dark;
  @apply bg-normal-900;
  @apply text-neutral-100 font-light;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: magenta;
}

::selection {
  color: black;
  background: magenta;
}


#BPportal {
  z-index: 9000000;
  position: fixed;
}
